@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo global */
body {
    background-image: url('https://i.ibb.co/GvYKnkGH/Fondo-Blanco-Nica-Xplora.jpg');
    background-size: cover;       /* ocupa toda la pantalla */
    background-repeat: no-repeat; /* no se repite */
    background-attachment: fixed; /* se mantiene fijo al hacer scroll */
    background-position: center;  /* centrado */
}

body {
  @apply bg-black text-white;
}


/* Slick Carousel ajustes */
.slick-slide > div{
    margin: 0 10px;
}

.slick-slide{
    color: black;
}
