@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo global */
body {
    background-image: url('https://images.pexels.com/photos/1292115/pexels-photo-1292115.jpeg?_gl=1*1apjsut*_ga*ODM3NjkxNjY0LjE3NDcwNjg3OTM.*_ga_8JE65Q40S6*czE3NTkyMDA5NjgkbzE3JGcxJHQxNzU5MjAxMzQ5JGoyNSRsMCRoMA..');
    background-size: cover;       /* ocupa toda la pantalla */
    background-repeat: no-repeat; /* no se repite */
    background-attachment: fixed; /* se mantiene fijo al hacer scroll */
    background-position: center;  /* centrado */
}

body {
  @apply bg-black text-white;
}


/* Slick Carousel ajustes */
.slick-slide > div{
    margin: 0 10px;
}

.slick-slide{
    color: black;
}
